{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
<title>Reset Password</title>
{% endblock %}

{% block body %}
    {% if messages %}
        {% for message in messages %}
            <p class="alert alert-{{ message.tags }}">{{ message }}</p>
        {% endfor %}

    {% endif %}
<h2>Change Password</h2>
    <div class="col-sm-6">
    <form method="post">
        {% csrf_token %}
   {{ form | crispy }}
    <input type="submit" value="Change Password" class="btn btn-warning">
    </form>
    </div>

{% endblock %}